@keyframes breath {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
    transform: scale(120%);
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes openAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.workExperience {
  margin-top: 1rem;
  padding: 1rem;
  border: 2px solid #6ea3e0;
}

.header {
  font-size: 24px;
  cursor: pointer;
  color: rgb(193, 177, 207);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: all 0.3s;
}
.header span {
  cursor: pointer;
}

.header:hover {
  color: white;
}

.companies {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  transition: all 0.3s;
}

.company {
  animation: openAnime 0.3s;
  width: 48.9%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s;
  position: relative;
}
.company ul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 1rem;
}
.company .websiteUrl {
  background-color: rgb(48, 48, 48);
  border-radius: 50%;
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
.company .websiteUrl a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(228, 131, 149);
}
.company .websiteUrl a .icon {
  width: 24px;
  height: 24px;
}

.companyName {
  display: flex;
  align-items: none;
  justify-content: none;
  flex-direction: column;
  margin-bottom: 1rem;
}
.companyName a {
  text-decoration: none;
  color: #6ea3e0;
}
.companyName span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: #6ea3e0;
}
.companyName span .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.companyName div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  color: #6ea3e0;
}
.companyName div a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.3rem;
  line-height: 1rem;
}
.companyName div a .locicon {
  width: 12px;
  height: 12px;
  color: rgb(228, 131, 149);
  animation: breath 2.5s infinite;
}

.companyLogo {
  background-color: rgb(37, 37, 37);
  margin-bottom: 1rem;
}
.companyLogo img {
  background-color: rgb(37, 37, 37);
  height: 50px;
}

.fromAndTo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 14px;
}

.jobTitle {
  background-color: rgb(48, 48, 48);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #6ea3e0;
  font-size: 20px;
  font-weight: 500;
}

.description {
  margin-top: 1rem;
  color: rgb(212, 212, 212);
}
.description span {
  font-size: 16px;
  font-weight: 400;
}
.description ul {
  font-size: 14px;
  font-weight: 300;
  list-style-type: circle;
}

.breath {
  width: 20px;
  height: 20px;
  color: rgb(228, 131, 149);
}

@media screen and (max-width: 768px) {
  .hide {
    display: none;
  }
  .company {
    width: 100%;
  }
  .scrollButton {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 425px) {
  .hide {
    display: none;
  }
  .company {
    width: 100%;
  }
}

/*# sourceMappingURL=workExperience.css.map */
