//Colors
$primaryColor: rgb(48, 48, 48);
$headerColor: rgb(143, 143, 143);
$textColor1: rgb(212, 212, 212);
$textColor2:#6ea3e0;
$textColor3:rgb(228, 131, 149);
$textColor4:#f36b5f;
$textColor5:rgb(138, 87, 187);
$textColor6: rgb(255, 255, 255);
$textColor7: rgb(209, 103, 143);
$secondaryColor: rgb(37, 37, 37);
$trenaryColor: rgb(193, 177, 207);

//Google color codes
$gBlue:rgb(66, 133, 244);
$gGreen:#5ca56f;
$gYellow:rgb(251, 188, 5);
$gRed:rgb(234, 67, 53);
//Fonts
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont: 'Times New Roman', Times, serif;
$primaryFont1: 'Nunito Sans', sans-serif;
$primaryFont2: 'Poppins', sans-serif;
$primaryFont3: 'Roboto', sans-serif;